# Dự án: OmniScraper-AI

# --- MESSAGE QUEUE & CACHE ---
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672//
REDIS_URL=redis://redis:6379/0

# --- FACEBOOK CONFIGURATION ---
# Graph API Token dự phòng (Nếu dùng Crawler cũ)
FB_GRAPH_TOKENS=EAAAAU...,EAAABV...
# Cookies Web Scraping ẩn danh (Ngăn cách bằng dấu phẩy)
FB_COOKIES="c_user=123; xs=abc;,c_user=456; xs=xyz;"

# --- TIKTOK SETTINGS ---
TIKTOK_LOOP_COUNT=3

# --- DATABASE CONFIG ---
# Điền thông tin kết nối DB tĩnh trên máy (host.docker.internal dùng cho Docker kết nối ra Host, hoặc dùng thẳng IP Tailscale)
DATABASE_URL=postgresql://<user>:<password>@host.docker.internal:5432/omniscraper
