# Dự án: OmniScraper-AI

# --- MESSAGE QUEUE & CACHE ---
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
REDIS_URL=redis://localhost:6379/1

# --- FACEBOOK API TOKENS ---
# Nhập danh sách các Facebook Graph Token ngăn cách bằng dấu phẩy
# Hệ thống sẽ dùng TokenManager để xoay vòng (Round-Robin) tránh Rate Limit
FB_GRAPH_TOKENS=EAAAAU...,EAAABV...,EAAACW...

# --- TIKTOK SETTINGS ---
TIKTOK_LOOP_COUNT=5
